<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<table border="1">
		<thead>
			<tr>
				<th>予約ID</th>
				<th>日付</th>
				<th>会議室名</th>
				<th>開始時間</th>
				<th>終了時間</th>
				<th>利用者</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="reserve:${reserves}">
				<td th:text="${reserve.id}"></td>
				<td th:text="${reserve.date}"></td>
				<td th:text="${reserve.roomId}"></td>
				<td th:text="${reserve.start}"></td>
				<td th:text="${reserve.end}"></td>
				<td th:text="${reserve.id}"></td>
			</tr>

		</tbody>
	</table>
	<a th:href="@{/admin/top}">戻る</a><br>
</body>

</html>