<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>部屋番号</th>
				<th>部屋名</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="room:${rooms}">
				<td th:text="${room.id}"></td>
				<td th:text="${room.name}"></td>
				<td><a th:href="@{/admin/roomdetail/{id}(id=${room.id})}">詳細</a></td>
				<td><a th:href="@{/admin/roomupdate/{id}(id=${room.id})}">更新</a></td>
				<td><a th:href="@{/admin/roomdelete/{id}(id=${room.id})}">削除</a></td>
			</tr>

		</tbody>
	</table>
	<a th:href="@{/admin/top}">戻る</a><br>

</body>
</html>